<div class="text_content">
	<br/>
	<h2>Welcome Mr. Foo to The Quiz.</h2>
	<hr>
	<p>&nbsp &nbsp &nbsp I'm your Hangman. I am going to ask you some questions and if you can't answer my questions correctly, I will hang you. You have 10 questions and for each wrong answer, your hanging stand will be built. You have 5 chances, I hang you if you loose all your chances. Let's start the quiz.</p>
	<hr><br/>
	<div id="btn">
		<button>
			<%= link_to "Start Quiz", hangman_path(@quiz) %>
		</button>
	</div>
		<button onclick="window.location.href='/admin/new'" style="position:fixed;right:4em;top:4em;float:right;">Admin</button>
</div>